@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 1px; 
  height: 1px;
}

.ck-editor__editable {
  min-height:200px;
}

.topMenu {
  background-color: #007bff; /* Màu nền thanh menu */
  color: white;
  display: flex;
  justify-content: space-around; /* Điều chỉnh khoảng cách */
  align-items: center;
  padding: 0.5em;
}

.menuList {
  list-style: none; /* Bỏ dấu chấm danh sách */
  display: flex;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0 1em; /* Khoảng cách giữa các mục */
}

.menuItem a {
  color: white; /* Màu chữ của link */
  text-decoration: none; /* Bỏ gạch chân của link */
  font-weight: bold;
}

.menuItem a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}